asttokens==3.0.1
blinker==1.9.0
bptk-py==2.3.0
cachetools==6.1.0
certifi==2026.4.22
charset-normalizer==3.4.7
click==8.3.3
comm==0.2.3
contourpy==1.3.3
cycler==0.12.1
decorator==5.2.1
distlib==0.3.9
eclipse-sumo==1.26.0
executing==2.2.1
flask==3.1.1
fonttools==4.62.1
googleapis-common-protos==1.75.0
grpcio-tools==1.71.0
idna==3.13
importlib-metadata==8.7.1
ipython==9.13.0
ipython-pygments-lexers==1.1.1
ipywidgets==8.1.7
itsdangerous==2.2.0
jedi==0.20.0
jinja2==3.1.6
jsonpickle==4.1.1
jupyterlab-widgets==3.0.16
kiwisolver==1.5.0
logfire==4.19.0
markdown-it-py==4.2.0
markupsafe==3.0.3
matplotlib==3.10.3
matplotlib-inline==0.2.2
mdurl==0.1.2
mpmath==1.3.0
numpy==2.3.1
opentelemetry-api==1.39.1
opentelemetry-exporter-otlp-proto-common==1.39.1
opentelemetry-exporter-otlp-proto-http==1.39.1
opentelemetry-instrumentation==0.60b1
opentelemetry-proto==1.39.1
opentelemetry-sdk==1.39.1
opentelemetry-semantic-conventions==0.60b1
packaging==26.2
pandas==2.3.0
parsimonious==0.10.0
parso==0.8.7
pexpect==4.9.0
pillow==12.2.0
pip==26.1.1
prompt-toolkit==3.0.52
protobuf==6.33.6
psutil==7.2.2
psycopg==3.3.2
psycopg-binary==3.3.2
psycopg-pool==3.3.1
ptyprocess==0.7.0
pure-eval==0.2.3
pydantic==2.11.7
pygments==2.20.0
pyparsing==3.3.2
python-dateutil==2.9.0.post0
pytz==2026.2
pyzmq==27.1.0
redis==6.4.0
regex==2026.4.4
requests==2.32.4
rich==15.0.0
scipy==1.15.3
six==1.17.0
stack-data==0.6.3
sympy==1.14.0
traitlets==5.15.0
typing-extensions==4.15.0
tzdata==2026.2
ujson==5.10.0
urllib3==2.7.0
wcwidth==0.7.0
werkzeug==3.1.8
widgetsnbextension==4.0.15
wrapt==1.17.3
xlsxwriter==3.2.5
xmltodict==0.12.0
zipp==3.23.1